<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629794142896-htbii009cbhkokgg8bj0qb146u106lj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629794142896-htbii009cbhkokgg8bj0qb146u106lj9</string>
	<key>API_KEY</key>
	<string>AIzaSyAK3xVP6BqVT8rhq2neYLOBcFNDylrWEZY</string>
	<key>GCM_SENDER_ID</key>
	<string>629794142896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tang.Sabbath</string>
	<key>PROJECT_ID</key>
	<string>sabbath-18381</string>
	<key>STORAGE_BUCKET</key>
	<string>sabbath-18381.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629794142896:ios:0eb9576bb295f123a39975</string>
</dict>
</plist>